<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="param_file" default="$(find gym_gazebo)/param/param.yaml"
    doc="Parameter file"/>
  <arg name="log_dir" default="$(find gym_gazebo)/logs"
    doc="Log directory"/>
  <arg name="model_dir" default="$(find gym_gazebo)/models"
    doc="Model directory"/>

  <!-- Train node -->
  <node pkg="gym_gazebo" type="train.py" name="train" output="screen">
    <rosparam file="$(arg param_file)"/>
    <param name="log_dir" value="$(arg log_dir)"/>
    <param name="model_dir" value="$(arg model_dir)"/>
  </node>
</launch>
